.path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    left : 0;
    bottom : 0;
  }
  

.path-0{
  animation:pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
  0%{
    d: path("M 0,600 C 0,600 0,200 0,200 C 92.54545454545456,233.2822966507177 185.09090909090912,266.5645933014354 280,272 C 374.9090909090909,277.4354066985646 472.18181818181813,255.02392344497608 584,223 C 695.8181818181819,190.97607655502392 822.1818181818182,149.3397129186603 903,163 C 983.8181818181818,176.6602870813397 1019.0909090909092,245.61722488038276 1101,261 C 1182.9090909090908,276.38277511961724 1311.4545454545455,238.19138755980862 1440,200 C 1440,200 1440,600 1440,600 Z");
  }
  25%{
    d: path("M 0,600 C 0,600 0,200 0,200 C 118.11483253588517,225.1866028708134 236.22966507177034,250.3732057416268 329,253 C 421.77033492822966,255.6267942583732 489.1961722488038,235.6937799043062 560,235 C 630.8038277511962,234.3062200956938 704.9856459330144,252.85167464114832 817,230 C 929.0143540669856,207.14832535885168 1078.8612440191387,142.8995215311005 1189,131 C 1299.1387559808613,119.10047846889951 1369.5693779904307,159.55023923444975 1440,200 C 1440,200 1440,600 1440,600 Z");
  }
  50%{
    d: path("M 0,600 C 0,600 0,200 0,200 C 97.99043062200957,221.80861244019138 195.98086124401914,243.61722488038276 291,234 C 386.01913875598086,224.38277511961724 478.06698564593296,183.33971291866027 587,187 C 695.933014354067,190.66028708133973 821.7511961722489,239.0239234449761 906,228 C 990.2488038277511,216.9760765550239 1032.9282296650717,146.56459330143542 1115,132 C 1197.0717703349283,117.43540669856459 1318.5358851674641,158.7177033492823 1440,200 C 1440,200 1440,600 1440,600 Z");
  }
  75%{
    d: path("M 0,600 C 0,600 0,200 0,200 C 76.70813397129183,242.3062200956938 153.41626794258366,284.6124401913876 264,263 C 374.58373205741634,241.38755980861245 519.043062200957,155.85645933014357 611,152 C 702.956937799043,148.14354066985643 742.4114832535885,225.96172248803828 819,230 C 895.5885167464115,234.03827751196172 1009.311004784689,164.29665071770336 1119,147 C 1228.688995215311,129.70334928229664 1334.3444976076555,164.85167464114832 1440,200 C 1440,200 1440,600 1440,600 Z");
  }
  100%{
    d: path("M 0,600 C 0,600 0,200 0,200 C 92.54545454545456,233.2822966507177 185.09090909090912,266.5645933014354 280,272 C 374.9090909090909,277.4354066985646 472.18181818181813,255.02392344497608 584,223 C 695.8181818181819,190.97607655502392 822.1818181818182,149.3397129186603 903,163 C 983.8181818181818,176.6602870813397 1019.0909090909092,245.61722488038276 1101,261 C 1182.9090909090908,276.38277511961724 1311.4545454545455,238.19138755980862 1440,200 C 1440,200 1440,600 1440,600 Z");
  }
}
.path-1{
  animation:pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1{
  0%{
    d: path("M 0,600 C 0,600 0,400 0,400 C 82.70813397129183,428.87081339712915 165.41626794258366,457.74162679425837 251,446 C 336.58373205741634,434.25837320574163 425.043062200957,381.90430622009575 541,375 C 656.956937799043,368.09569377990425 800.4114832535885,406.64114832535887 895,429 C 989.5885167464115,451.35885167464113 1035.311004784689,457.5311004784689 1118,450 C 1200.688995215311,442.4688995215311 1320.3444976076555,421.23444976076553 1440,400 C 1440,400 1440,600 1440,600 Z");
  }
  25%{
    d: path("M 0,600 C 0,600 0,400 0,400 C 114.00956937799043,438.3636363636364 228.01913875598086,476.7272727272727 324,473 C 419.98086124401914,469.2727272727273 497.93301435406704,423.45454545454544 596,396 C 694.066985645933,368.54545454545456 812.2488038277511,359.45454545454544 917,383 C 1021.7511961722489,406.54545454545456 1113.0717703349283,462.72727272727275 1198,471 C 1282.9282296650717,479.27272727272725 1361.4641148325359,439.6363636363636 1440,400 C 1440,400 1440,600 1440,600 Z");
  }
  50%{
    d: path("M 0,600 C 0,600 0,400 0,400 C 87.82775119617222,404.5645933014354 175.65550239234443,409.12918660287085 275,402 C 374.34449760765557,394.87081339712915 485.2057416267943,376.04784688995215 600,375 C 714.7942583732057,373.95215311004785 833.5215311004782,390.6794258373206 917,387 C 1000.4784688995218,383.3205741626794 1048.708133971292,359.23444976076553 1130,358 C 1211.291866028708,356.76555023923447 1325.645933014354,378.38277511961724 1440,400 C 1440,400 1440,600 1440,600 Z");
  }
  75%{
    d: path("M 0,600 C 0,600 0,400 0,400 C 118.75598086124404,373.2918660287081 237.51196172248808,346.5837320574163 337,363 C 436.4880382775119,379.4162679425837 516.7081339712919,438.9569377990431 604,437 C 691.2918660287081,435.0430622009569 785.6555023923446,371.58851674641147 864,369 C 942.3444976076554,366.41148325358853 1004.66985645933,424.68899521531097 1098,440 C 1191.33014354067,455.31100478468903 1315.665071770335,427.6555023923445 1440,400 C 1440,400 1440,600 1440,600 Z");
  }
  100%{
    d: path("M 0,600 C 0,600 0,400 0,400 C 82.70813397129183,428.87081339712915 165.41626794258366,457.74162679425837 251,446 C 336.58373205741634,434.25837320574163 425.043062200957,381.90430622009575 541,375 C 656.956937799043,368.09569377990425 800.4114832535885,406.64114832535887 895,429 C 989.5885167464115,451.35885167464113 1035.311004784689,457.5311004784689 1118,450 C 1200.688995215311,442.4688995215311 1320.3444976076555,421.23444976076553 1440,400 C 1440,400 1440,600 1440,600 Z");
  }
}